<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h1{
  text-align: center;
}
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('static/img/image.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
  <h1>Covid-19 Survey</h1>
  <p>The outbreak of Pandemic (COVID-19) across the world completely disrupted the political, social, economic and financial structures of the world.
  Coronavirus disease (COVID-19) has affected young adults directly and indirectly. Beyond getting sick, many young adults’ social, emotional and mental well-being has been impacted by the pandemic.
  Trauma faced at this developmental stage may have long-term consequences across their lifespan. In addition to other everyday steps to prevent COVID-19, physical or social distancing is one of the best tools we have to avoid being exposed to this virus and slow its spread. However, having to physically distance from someone you love—like friends, family, coworkers, or your worship community—can be hard. It may also cause change in plans—for instance, having to do virtual job interviews, dates, or campus tours. Young adults may also struggle adapting to new social routines—from choosing to skip in person gatherings, to consistently wearing masks in public. It is important to support young adults in taking personal responsibility to protect themselves and their loved ones.</p>
  <p>We have created this Covid-19 Survey application to showcase the feelings of people of various age groups across the world. </p>
  <p>
    This is graph link <a href="mapdata">Map and graph</a>
</p>

  <div class="bg"></div>
</body>
</html>
