# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Janak Bhatt\Desktop\ComputerScience\WebDevelopment\Assignment\Group_Project\webAppsClassTeamProject1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
